!!!
%html.no-js{lang: 'dk'}
	%head
		/ [if lt IE 9]
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<script type="text/javascript" src="vendor/bower/html5shiv/dist/html5shiv.js"></script>
		/ [endif]
		= render 'layouts/head'
		:css
			@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);
			/** ************************* **/
			/** Froont widget base styles **/
			/** ************************* **/
			.fr-widget h1,
			.fr-widget h2,
			.fr-widget h3,
			.fr-widget h4,
			.fr-widget h5,
			.fr-widget h6,
			.fr-widget p {
			  margin: 0;
			}
			html,
			body,
			button,
			input,
			select,
			textarea {
			  font-family: "inherit", Tahoma, Verdana, sans-serif;
			}
			html,
			body {
			  height: 100%;
			}
			body {
			  font-size: 62.5%;
			}
			* {
			  box-sizing: border-box;
			  -webkit-box-sizing: border-box;
			  -moz-box-sizing: border-box;
			}
			input:focus,
			textarea:focus {
			  outline: none;
			}
			.b-content {
			  font-size: 1.6em;
			  padding-top: 0.02px;
			  min-height: 100%;
			  margin: 0 auto -50px;
			  /* the bottom margin is the negative value of the footer's height */
			  padding-bottom: 50px;
			}
			.b-content.loading {
			  opacity: 0;
			}
			.b-content:after {
			  content: ".";
			  display: none;
			  clear: both;
			  line-height: 0;
			  height: 0;
			}
			.b-content.not-in-preview {
			  padding-bottom: 0;
			}
			a {
			  color: #000;
			  text-decoration: underline;
			}
			.fr-wf {
			  -webkit-transition: opacity .1s linear;
			  -moz-transition: opacity .1s linear;
			  -o-transition: opacity .1s linear;
			  transition: opacity .1s linear;
			  word-break: break-word;
			}
			.wf-loading .fr-wf {
			  opacity: 0 !important;
			}
			.wf-inactive .fr-wf,
			.wf-active .fr-wf {
			  opacity: 1;
			}
			.fr-widget:after,
			.fr-widget:before {
			  content: ".";
			  display: block;
			  clear: both;
			  visibility: hidden;
			  line-height: 0;
			  height: 0;
			}
			.fr-widget {
			  display: block;
			}
			.fr-text * {
			  font-family: inherit;
			  font-weight: inherit;
			  font-size: inherit;
			  color: inherit;
			  text-decoration: inherit;
			}
			.fr-link {
			  text-decoration: none;
			}
			.fr-text i {
			  font-style: italic;
			}
			.fr-text u {
			  text-decoration: underline;
			}
			.fr-text del,
			.fr-text s,
			.fr-text strike {
			  text-decoration: line-through;
			}
			.fr-text b,
			.fr-text strong,
			.fr-text h1,
			.fr-text h2,
			.fr-text h3,
			.fr-text h4,
			.fr-text h5,
			.fr-text h6 {
			  font-weight: bold;
			}
			.fr-img {
			  line-height: 0;
			}
			.fr-img img {
			  width: 100%;
			  max-width: 100%;
			}
			.fr-svg svg {
			  width: 100%;
			  max-width: 100%;
			  height: 100%;
			}
			.fr-svg-inner svg {
			  position: absolute;
			  display: block;
			}
			.fr-grid > .fr-widget {
			  float: left;
			}
			.fr-video-inner {
			  position: relative;
			}
			.fr-video-inner iframe {
			  position: absolute;
			  width: 100%;
			  height: 100%;
			}
			.fr_hover-animation {
			  -webkit-transition-duration: 0.2s;
			  -moz-transition-duration: 0.2s;
			  -o-transition-duration: 0.2s;
			  transition-duration: 0.2s;
			  -webkit-transition-property: background, color, border-radius;
			  -moz-transition-property: background, color, border-radius;
			  -o-transition-property: background, color, border-radius;
			  transition-property: background, color, border-radius;
			  -webkit-transition-timing-function: ease-in-out;
			  -moz-transition-timing-function: ease-in-out;
			  -o-transition-timing-function: ease-in-out;
			  transition-timing-function: ease-in-out;
			}
			.fr-video-inner p {
			  display: none;
			}
			.fr-widget-hover-opacity-60:hover {
			  opacity: 0.6;
			}
			.fr-widget-hover-scale-up:hover {
			  transform: scale(1.1);
			}
			.fr-copyright-footer {
			  bottom: 0;
			  width: 100%;
			  position: relative;
			  height: 50px;
			  overflow: hidden;
			}
			.fr-copyright-footer.fixed {
			  position: fixed;
			  left: 0;
			}
			.fr-copyright-footer > .fr-container {
			  width: 100%;
			  margin: 0;
			  padding: 0;
			  background: #242424;
			}
			.fr-copyright-footer .fr-made-with-froont {
			  width: auto;
			  font-family: Arial;
			  font-size: .55rem;
			  text-align: center;
			  letter-spacing: .14rem;
			  margin: 0 auto;
			  padding: 1.05rem 0 0.5rem 0;
			  color: #979797;
			}
			.fr-copyright-footer .fr-made-with-froont .fr-text {
			  min-width: 100%;
			}
			.fr-copyright-footer .fr-made-with-froont .fr-text .heart {
			  font-size: .8rem;
			}
			.fr-copyright-footer .fr-bottom-em-spacer {
			  height: 0.8rem;
			  background: #242424;
			}
			.fr-fork-on-froont {
			  position: absolute;
			  right: 0;
			  top: 0;
			  width: 115px;
			  height: 115px;
			  background-image: url('//froont.com/_static/images/fork-ribbon.png');
			  background-size: cover;
			  background-repeat: no-repeat;
			  z-index: 10000;
			}
			.fr-fork-on-froont:hover {
			  background-position: 0 -115px;
			}

			/** ******************************** **/
			/** End of Froont widget base styles **/
			/** ******************************** **/

			/** ************************* **/
			/** Widget styles             **/
			/** ************************* **/
			.fr_suhahi {
			  float: none;
			  display: block;
			  font-family: inherit;
			  font-weight: 400;
			  font-size: 2.25em;
			  line-height: 1.1em;
			  text-align: left;
			  letter-spacing: -0.03em;
			  margin-top: 0;
			  margin-right: auto;
			  margin-left: auto;
			  color: #e6e6e6
			}
			.fr_dohuva {
			  float: none;
			  display: block;
			  margin-top: 7.5em;
			  margin-right: auto;
			  margin-bottom: 10em;
			  margin-left: 22.81%;
			  padding-top: 1px;
			  max-width: 800px
			}
			.fr_gaweji {
			  float: none;
			  display: block;
			  width: 100%;
			  margin-right: auto;
			  margin-left: auto;
			  padding-top: 7em;
			  padding-right: 3em;
			  padding-bottom: 7em;
				background-image: url(/assets/1444636496_1ed599eaa7_b.jpg);
			  background-position: center center;
			  background-size: cover;
			  min-height: 64.1875em
			}
			.fr_jafupi {
			  float: left;
			  display: block;
			  font-family: inherit;
			  font-weight: 400;
			  font-size: 4.75em;
			  line-height: 1.05em;
			  text-align: left;
			  letter-spacing: -0.01em;
			  margin-top: 0;
			  margin-right: auto;
			  margin-bottom: .3em;
			  margin-left: auto;
			  color: #e6e6e6;
			  max-width: 600px
			}
			.fr_mogoma {
			  float: none;
			  display: block;
			  font-family: inherit;
			  font-weight: 300;
			  font-size: .7em;
			  line-height: 1.6em;
			  text-align: left;
			  letter-spacing: .01em;
			  margin-top: 0;
			  color: #fa3342
			}
			.fr_mamugi {
			  float: none;
			  display: block
			}
			.fr_mejomu {
			  float: none;
			  display: block;
			  margin-left: 26%;
			  color: black
			}
			.fr_hufefe {
			  float: none;
			  display: block
			}
			.fr_vofofu {
			  float: none;
			  display: block;
			  font-family: inherit;
			  font-weight: 400;
			  font-size: .7em;
			  line-height: 1.6em;
			  text-align: left;
			  letter-spacing: .01em;
			  margin-top: 0;
			  color: #fa3342
			}
			.fr_jaguca {
			  float: none;
			  display: block;
			  width: 90%;
			  margin-right: auto;
			  margin-bottom: 0;
			  margin-left: auto;
			  padding-top: 1px;
			  max-width: 1160px
			}
			.fr_jaguca>.fr-widget:nth-child(4n+1) {
			  margin-top: .6em;
			  margin-right: 1%;
			  margin-bottom: .6em;
			  margin-left: 0;
			  width: 24%;
			  clear: left;
			  max-width: inherit
			}
			.fr_jaguca>.fr-widget:nth-child(4n+2) {
			  margin-top: .6em;
			  margin-right: 1%;
			  margin-bottom: .6em;
			  margin-left: 1%;
			  width: 23%;
			  clear: none;
			  max-width: inherit
			}
			.fr_jaguca>.fr-widget:nth-child(4n+3) {
			  margin-top: .6em;
			  margin-right: 1%;
			  margin-bottom: .6em;
			  margin-left: 1%;
			  width: 23%;
			  clear: none;
			  max-width: inherit
			}
			.fr_jaguca>.fr-widget:nth-child(4n+4) {
			  margin-top: .6em;
			  margin-right: 0;
			  margin-bottom: .6em;
			  margin-left: 1%;
			  width: 24%;
			  clear: none;
			  max-width: inherit
			}
			.fr_tanovu {
			  float: none;
			  display: block;
			  width: 100%;
			  margin-right: auto;
			  margin-left: auto;
			  padding-top: 4em;
			  padding-bottom: 4em;
			  background-color: black
			}
			.fr_bobire {
			  float: none;
			  display: block;
			  width: 90%;
			  margin-top: .03076171875em;
			  margin-bottom: 0;
			  padding-top: 1px;
			  max-width: 250px
			}
			.fr_bobire>.fr-widget:nth-child(4n+1) {
			  margin-top: .6em;
			  margin-right: 0;
			  margin-bottom: .6em;
			  margin-left: 0;
			  width: 25%;
			  clear: left;
			  max-width: inherit
			}
			.fr_bobire>.fr-widget:nth-child(4n+2) {
			  margin-top: .6em;
			  margin-right: 0;
			  margin-bottom: .6em;
			  margin-left: 0;
			  width: 25%;
			  clear: none;
			  max-width: inherit
			}
			.fr_bobire>.fr-widget:nth-child(4n+3) {
			  margin-top: .6em;
			  margin-right: 0;
			  margin-bottom: .6em;
			  margin-left: 0;
			  width: 25%;
			  clear: none;
			  max-width: inherit
			}
			.fr_bobire>.fr-widget:nth-child(4n+4) {
			  margin-top: .6em;
			  margin-right: 0;
			  margin-bottom: .6em;
			  margin-left: 0;
			  width: 25%;
			  clear: none;
			  max-width: inherit
			}
			.fr_ruteri {
			  float: none;
			  display: block;
			  font-family: inherit;
			  font-weight: 300;
			  font-size: .9em;
			  line-height: 1.6em;
			  text-align: left;
			  letter-spacing: .01em;
			  margin-top: 0;
			  color: #b5b5b5
			}
			.fr_lehuja {
			  float: none;
			  display: block;
			  width: 20px;
			  margin-bottom: .5em;
			  background-color: #333;
			  min-height: 1px
			}
			.fr_hivebo {
			  float: none;
			  display: block;
			  width: 100%;
			  font-family: inherit;
			  font-weight: 400;
			  font-size: 1.2em;
			  line-height: 1.35em;
			  text-align: left;
			  letter-spacing: .05em;
			  margin-top: 0;
			  margin-right: auto;
			  margin-bottom: 1.5em;
			  margin-left: auto;
			  color: #fa3342
			}
			.fr_hivebo .fr-text {
			  min-width: 100%
			}
			.fr_bawuwo {
			  float: none;
			  display: block;
			  font-family: inherit;
			  font-weight: 300;
			  font-size: .9em;
			  line-height: 1.6em;
			  text-align: left;
			  letter-spacing: .01em;
			  margin-top: 0;
			  margin-bottom: 1em;
			  padding-right: 1em;
			  color: #b5b5b5
			}
			.fr_kadago {
			  float: none;
			  display: block;
			  width: 20px;
			  margin-bottom: .5em;
			  background-color: #333;
			  min-height: 1px
			}
			.fr_jagiti {
			  float: none;
			  display: block;
			  width: 100%;
			  font-family: inherit;
			  font-weight: 400;
			  font-size: 1.2em;
			  line-height: 1.35em;
			  text-align: left;
			  letter-spacing: .05em;
			  margin-top: 0;
			  margin-right: auto;
			  margin-bottom: 1.5em;
			  margin-left: auto;
			  color: #fa3342
			}
			.fr_jagiti .fr-text {
			  min-width: 100%
			}
			.fr_bigoto {
			  float: none;
			  display: block;
			  font-family: inherit;
			  font-weight: 400;
			  font-size: .7em;
			  line-height: 1.6em;
			  text-align: left;
			  letter-spacing: .01em;
			  margin-top: 0;
			  color: #fa3342
			}
			.fr_judige {
			  float: none;
			  display: block;
			  font-family: inherit;
			  font-weight: 400;
			  font-size: .7em;
			  line-height: 1.6em;
			  text-align: left;
			  letter-spacing: .01em;
			  margin-top: 0;
			  color: #fa3342
			}
			.fr_mihobe {
			  float: none;
			  display: block;
			  font-family: inherit;
			  font-weight: 300;
			  font-size: .9em;
			  line-height: 1.6em;
			  text-align: left;
			  letter-spacing: .01em;
			  margin-top: 0;
			  padding-right: 1em;
			  color: #b5b5b5
			}
			.fr_bijuju {
			  float: none;
			  display: block;
			  width: 20px;
			  margin-bottom: .5em;
			  background-color: #333;
			  min-height: 1px
			}
			.fr_mamike {
			  float: none;
			  display: block;
			  width: 100%;
			  font-family: inherit;
			  font-weight: 400;
			  font-size: 1.2em;
			  line-height: 1.35em;
			  text-align: left;
			  letter-spacing: .05em;
			  margin-top: 0;
			  margin-right: auto;
			  margin-bottom: 1.5em;
			  margin-left: auto;
			  color: #fa3342
			}
			.fr_mamike .fr-text {
			  min-width: 100%
			}
			.fr_rilalu {
			  float: none;
			  display: block
			}
			.fr_mamuwe {
			  float: none;
			  display: block;
			  width: 20px;
			  margin-bottom: .5em;
			  background-color: #333;
			  min-height: 1px
			}
			.fr_penuli {
			  float: none;
			  display: block;
			  width: 100%;
			  font-family: inherit;
			  font-weight: 400;
			  font-size: 1.2em;
			  line-height: 1.35em;
			  text-align: left;
			  letter-spacing: .05em;
			  margin-top: 0;
			  margin-right: auto;
			  margin-bottom: 1.5em;
			  margin-left: auto;
			  color: #fa3342
			}
			.fr_penuli .fr-text {
			  min-width: 100%
			}
			.fr_docogu {
			  float: none;
			  display: block;
			  font-family: inherit;
			  font-weight: 300;
			  font-size: .9em;
			  line-height: 1.6em;
			  text-align: left;
			  letter-spacing: .01em;
			  margin-top: 0;
			  padding-right: 1em;
			  color: #b5b5b5
			}
			@media screen and (max-width: 768px) {
			  .fr_dohuva {
			    display: block;
			    margin-left: 16.59%
			  }
			}
			@media screen and (max-width: 768px) {
			  .fr_mogoma {
			    font-size: 1.2em
			  }
			}
			@media screen and (max-width: 768px) {
			  .fr_vofofu {
			    font-size: 1.2em
			  }
			}
			@media screen and (max-width: 768px) {
			  .fr_jaguca>.fr-widget:nth-child(1n+1) {
			    margin-top: .6em;
			    margin-right: 0;
			    margin-bottom: .6em;
			    margin-left: 0;
			    width: 100%;
			    clear: left;
			    max-width: inherit
			  }
			}
			@media screen and (max-width: 768px) {
			  .fr_bobire>.fr-widget:nth-child(1n+1) {
			    margin-top: .25em;
			    margin-right: 0;
			    margin-bottom: .25em;
			    margin-left: 0;
			    width: 100%;
			    clear: left;
			    max-width: inherit
			  }
			}
			@media screen and (max-width: 768px) {
			  .fr_ruteri {
			    font-size: 1.2em;
			    margin-top: 0
			  }
			}
			@media screen and (max-width: 768px) {
			  .fr_bawuwo {
			    font-size: 1.2em;
			    margin-top: 0
			  }
			}
			@media screen and (max-width: 768px) {
			  .fr_bigoto {
			    font-size: 1.2em
			  }
			}
			@media screen and (max-width: 768px) {
			  .fr_judige {
			    font-size: 1.2em
			  }
			}
			@media screen and (max-width: 768px) {
			  .fr_mihobe {
			    font-size: 1.2em;
			    margin-top: 0
			  }
			}
			@media screen and (max-width: 768px) {
			  .fr_docogu {
			    font-size: 1.2em;
			    margin-top: 0
			  }
			}
			@media screen and (max-width: 480px) {
			  .fr_suhahi {
			    display: block;
			    width: 100%;
			    vertical-align: top;
			    margin-top: 7.55em;
			    margin-left: -1.2%
			  }
			  .fr_suhahi .fr-text {
			    min-width: 100%
			  }
			}
			@media screen and (max-width: 480px) {
			  .fr_dohuva {
			    display: block;
			    width: 77.0833333333333%;
			    vertical-align: top;
			    margin-top: -0.68em;
			    margin-left: 16.91%
			  }
			}
			@media screen and (max-width: 480px) {
			  .fr_jafupi {
			    display: inline-block;
			    width: 82.87037037037037%;
			    font-size: 3.95em;
			    vertical-align: top;
			    margin-top: .01em;
			    margin-left: -0.17%
			  }
			  .fr_jafupi .fr-text {
			    min-width: 100%
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_suhahi {
			    display: inline-block;
			    width: 100%;
			    font-family: inherit;
			    font-size: 1.65em;
			    line-height: 1.45em;
			    vertical-align: top;
			    margin-top: -0.48em;
			    margin-left: -0.96%
			  }
			  .fr_suhahi .fr-text {
			    min-width: 100%
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_dohuva {
			    display: inline-block;
			    width: 77.5735294117647%;
			    vertical-align: top;
			    margin-top: -8.9em;
			    margin-left: 22.45%
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_gaweji {
			    min-height: 41.375em
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_jafupi {
			    display: inline-block;
			    width: 98.5781990521327%;
			    font-family: inherit;
			    font-size: 2.15em;
			    line-height: 1.45em;
			    vertical-align: top;
			    margin-top: 4.93em;
			    margin-left: -0.87%
			  }
			  .fr_jafupi .fr-text {
			    min-width: 100%
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_mogoma {
			    font-family: inherit;
			    font-size: .9em;
			    line-height: 1.45em
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_vofofu {
			    font-family: inherit;
			    font-size: .9em;
			    line-height: 1.45em
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_tanovu {
			    padding-top: 1em;
			    padding-bottom: 1em
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_bobire>.fr-widget:nth-child(1n+1) {
			    margin-right: 1%;
			    margin-left: 1%;
			    width: 98.0%;
			    clear: left;
			    max-width: inherit
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_ruteri {
			    font-family: inherit;
			    font-size: .9em;
			    line-height: 1.45em
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_hivebo {
			    font-family: inherit;
			    font-size: .9em;
			    line-height: 1.45em
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_bawuwo {
			    font-family: inherit;
			    font-size: .9em;
			    line-height: 1.45em
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_jagiti {
			    font-family: inherit;
			    font-size: .9em;
			    line-height: 1.45em
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_bigoto {
			    font-family: inherit;
			    font-size: .9em;
			    line-height: 1.45em
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_judige {
			    font-family: inherit;
			    font-size: .9em;
			    line-height: 1.45em
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_mihobe {
			    font-family: inherit;
			    font-size: .9em;
			    line-height: 1.45em
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_mamike {
			    font-family: inherit;
			    font-size: .9em;
			    line-height: 1.45em
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_penuli {
			    font-family: inherit;
			    font-size: .9em;
			    line-height: 1.45em
			  }
			}
			@media screen and (max-width: 320px) {
			  .fr_docogu {
			    font-family: inherit;
			    font-size: .9em;
			    line-height: 1.45em
			  }
			}

			/** ******************************** **/
			/** End of widget styles             **/
			/** ******************************** **/

	
	%body
		.b-content
			.fr-widget.fr_gaweji
				.fr-widget.fr-grid.fr_dohuva
					.fr-widget.fr-text.fr-wf.fr_jafupi
						.fr-text Hvad går der på teateret i aften?
					.fr-widget.fr-text.fr-wf.fr_suhahi
						.fr-text Vi viser vej til alle skuespil i Danmark

			.fr-widget.fr-container.fr_tanovu
				.fr-widget.fr-grid.fr_jaguca
					.fr-widget.fr-container.fr_mejomu
						.fr-widget.fr-container.fr_bijuju
						
						.fr-widget.fr-text.fr-wf.fr_mamike
							.fr-text dit udbytte?
						.fr-widget.fr-text.fr-wf.fr_ruteri
							.fr-text
								+ i byen for at more dig
								%br
								+ fast teatergænger
								%br
								+ anmelder
								%br
								+ teater
								%br
								+ media

					.fr-widget.fr-container.fr_mamugi
						.fr-widget.fr-container.fr_lehuja
						.fr-widget.fr-text.fr-wf.fr_jagiti
							.fr-text hvad er vi?
							.fr-widget.fr-text.fr-wf.fr_mihobe
								.fr-text seteater.nu er en webtjeneste som tilbydes alle teatre i Danmark. Her kan teatrene opslå deres repetoire og henvise til deres egne hjemmesider med yderligere omtale af det enkelte teaterstykke. Teatergængere kan søge skuespil på mange måder.

					.fr-widget.fr-container.fr_rilalu
						.fr-widget.fr-container.fr_mamuwe
						.fr-widget.fr-text.fr-wf.fr_penuli
							.fr-text hvem er vi?
							.fr-widget.fr-text.fr-wf.fr_docogu
								.fr-text seteater.nu er ejes af selskabet BTW (ByTheWay). Vi bygger og driver informationssøjler rettet mod kulturtilbud og events.

					.fr-widget.fr-container.fr_hufefe
						.fr-widget.fr-container.fr_kadago
						.fr-widget.fr-text.fr-wf.fr_hivebo
							.fr-text kontakt
							.fr-widget.fr-text.fr-wf.fr_bawuwo
								.fr-text Du er velkommen til at kontakte os, hvis du har ros/ris til denne informationssøjle, gerne vil opslå dit teaters repetoire eller måske af en helt anden grund
							.fr-widget.fr-grid.fr_bobire
								%a{ id:"fr_547d82a3bb1e7219fb000068", class:"fr-widget fr-text fr-wf fr_judige  fr-link fr-widget-hover-opacity-60", href:"https://twitter.com/Froontapp"}
									.fr-text 
										%u Twitter

								%a{ id:"fr_547d82a3bb1e7219fb000061", class:"fr-widget fr-text fr-wf fr_bigoto  fr-link fr-widget-hover-opacity-60", href:"https://dribbble.com/"}
									.fr-text
										%u Dribbble
									
								%a{ id:"fr_547d82a3bb1e7219fb00005a", class:"fr-widget fr-text fr-wf fr_mogoma  fr-link fr-widget-hover-opacity-60", href:"http://www.froont.com"}
									.fr-text
										%u Behance
									
								%a{ id:"fr_547d82a3bb1e7219fb000053", class:"fr-widget fr-text fr-wf fr_vofofu  fr-link fr-widget-hover-opacity-60", href:"http://www.froont.com"}
									.fr-text
										%u LinkedIn
