!!!
%html.no-js{lang: 'dk'}
	%head
		/ [if lt IE 9]
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
			<script type="text/javascript" src="vendor/bower/html5shiv/dist/html5shiv.js"></script>
		/ [endif]
		= render 'layouts/head'
		:css
	
	%body
		.b-content
			.fr-widget.fr_gaweji
				.fr-widget.fr-grid.fr_dohuva
					.fr-widget.fr-text.fr-wf.fr_jafupi
						.fr-text Hvad går der på teateret i aften?
					.fr-widget.fr-text.fr-wf.fr_suhahi
						.fr-text Vi viser vej til alle skuespil i Danmark

			.fr-widget.fr-container.fr_tanovu
				.fr-widget.fr-grid.fr_jaguca
					.fr-widget.fr-container.fr_mejomu
						.fr-widget.fr-container.fr_bijuju
						
						.fr-widget.fr-text.fr-wf.fr_mamike
							.fr-text dit udbytte?
						.fr-widget.fr-text.fr-wf.fr_ruteri
							.fr-text
								+ i byen for at more dig
								%br
								+ fast teatergænger
								%br
								+ anmelder
								%br
								+ teater
								%br
								+ media

					.fr-widget.fr-container.fr_mamugi
						.fr-widget.fr-container.fr_lehuja
						.fr-widget.fr-text.fr-wf.fr_jagiti
							.fr-text hvad er vi?
							.fr-widget.fr-text.fr-wf.fr_mihobe
								.fr-text seteater.nu er en webtjeneste som tilbydes alle teatre i Danmark. Her kan teatrene opslå deres repetoire og henvise til deres egne hjemmesider med yderligere omtale af det enkelte teaterstykke. Teatergængere kan søge skuespil på mange måder.

					.fr-widget.fr-container.fr_rilalu
						.fr-widget.fr-container.fr_mamuwe
						.fr-widget.fr-text.fr-wf.fr_penuli
							.fr-text hvem er vi?
							.fr-widget.fr-text.fr-wf.fr_docogu
								.fr-text seteater.nu er ejes af selskabet BTW (ByTheWay). Vi bygger og driver informationssøjler rettet mod kulturtilbud og events.

					.fr-widget.fr-container.fr_hufefe
						.fr-widget.fr-container.fr_kadago
						.fr-widget.fr-text.fr-wf.fr_hivebo
							.fr-text kontakt
							.fr-widget.fr-text.fr-wf.fr_bawuwo
								.fr-text Du er velkommen til at kontakte os, hvis du har ros/ris til denne informationssøjle, gerne vil opslå dit teaters repetoire eller måske af en helt anden grund
							.fr-widget.fr-grid.fr_bobire
								%a{ id:"fr_547d82a3bb1e7219fb000068", class:"fr-widget fr-text fr-wf fr_judige  fr-link fr-widget-hover-opacity-60", href:"https://twitter.com/Froontapp"}
									.fr-text 
										%u Twitter

								%a{ id:"fr_547d82a3bb1e7219fb000061", class:"fr-widget fr-text fr-wf fr_bigoto  fr-link fr-widget-hover-opacity-60", href:"https://dribbble.com/"}
									.fr-text
										%u Dribbble
									
								%a{ id:"fr_547d82a3bb1e7219fb00005a", class:"fr-widget fr-text fr-wf fr_mogoma  fr-link fr-widget-hover-opacity-60", href:"http://www.froont.com"}
									.fr-text
										%u Behance
									
								%a{ id:"fr_547d82a3bb1e7219fb000053", class:"fr-widget fr-text fr-wf fr_vofofu  fr-link fr-widget-hover-opacity-60", href:"http://www.froont.com"}
									.fr-text
										%u LinkedIn
